
.add-item-camera {
  margin-top: 17%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //align-self: stretch;
  height: 600px;
  .videoContainer {
    //border: 2px solid orangered;
    background-color: black;
    width: 100%;
    height: 100%;
    .video_overlays_1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 30px;
      background: linear-gradient(180deg, rgb(98, 98, 98), rgb(25, 26, 28));
      background: -webkit-linear-gradient(180deg, rgb(98, 98, 98), rgb(25, 26, 28));
      padding: 3% 8%;
      z-index: 2147483647;
    }
    video {
      //border: 1px solid deeppink;
      width: 100%;
      height: 76%
    }
    .video_overlays_2 {
      text-align: center;
      font-size: 30px;
      bottom: 0px;
      background: linear-gradient(180deg, rgb(98, 98, 98), rgb(25, 26, 28));
      background: -webkit-linear-gradient(180deg, rgb(98, 98, 98), rgb(25, 26, 28));
      padding: 3% 0;
      z-index: 2147483647;
      button {
        background-color: white;
        border-radius: 50%;
        border: 4px solid black;
        padding: 25px;
      }
    }
  }

  .img_container_1 {
    display: flex;
    align-items: flex-start;
    //flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3%;
    border: 2px solid blue;
    width: 100%;
    height: 100%;

    .img_container_content_1 {
      position: relative;
      border: 2px solid deeppink;
      width: 25%;
      height: 100%;
      img {
        //position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        //margin-top: 3%;
        z-index: 5;
      }
      span {
        //position: relative;
        position: absolute;
        top: 2%;
        left: 0;
        background: lightblue;
        color: #FFF;
        z-index: 10;
      }
    }
  }

  canvas {
    display: none;
  }
}
