@import "add-item/add-item.scss";
@import "add-item-2/add-item-camera";
@import "add-item-2/add-item-desc";
@import "feed/feed.scss";
@import "home/home.scss";

$badass: #bada55;

body {
  background-color: #e9ebee;
  overflow-y: visible;
}

.container_section {
  margin-top: 5%;
}

input.ng-invalid.ng-touched {
  background-color: $badass;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}


